<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-domob"
        version="0.1">

  <name>Domob Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/domob.js" target="js/domob.js"/>

  <js-module src="www/domob.js" name="domob">
    <clobbers target="domob" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="LNDomob">
        <param name="ios-package" value="LNDomob" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>NSLocationWhenInUseUsageDescription</key>
          <string></string>
        </dict>
      </array>
    </config-file>

    <source-file src="src/ios/libIndependentVideoSDK.a" framework="true"/>
    <resource-file src="src/ios/IndependentVideoBundle.bundle" />
    <header-file src="src/ios/Header/IndependentVideoManager.h" target-dir="DomobSDK"/>

    <header-file src="src/ios/LNDomob.h" target-dir="LNDomob"/>
    <source-file src="src/ios/LNDomob.m" target-dir="LNDomob"/>


    <framework src="MessageUI.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libsqlite3.dylib" />
    <framework src="CoreLocation.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="StoreKit.framework" />
    <framework src="AdSupport.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    

  </platform>

</plugin>